{% extends 'base.twig' %}
{% block css %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ BASE_URL }}/vendor/tigress/kanban-board/public/css/kanban/edit_kanban.css">
{% endblock %}
{% block js %}
    {{ parent() }}
    <script src="{{ BASE_URL }}/node_modules/tinymce/tinymce.min.js"></script>
    <script src="{{ BASE_URL }}/node_modules/tinymce/themes/silver/theme.min.js"></script>
    <script src="{{ BASE_URL }}/vendor/tigress/kanban-board/public/javascript/kanban/edit_kanban.js"></script>
{% endblock %}
{% block title %}{{ __('Kanban Board') }} {% if kanban.id == 0 %}{{ __('Add') }}{% else %}{{ __('Edit', base_trans) }}{% endif %}{% endblock %}
{% block breadcrumb %}
    <div class="row mb-2">
        <div class="col-md-12">
            <nav aria-label="breadcrumb" data-bs-theme="dark">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{{ BASE_URL }}/"><i class="fa fa-home"></i></a></li>
                    <li class="breadcrumb-item"><a href="{{ BASE_URL }}/kanban">{{ __('Kanban Boards') }}</a></li>
                    <li class="breadcrumb-item active" aria-current="page">{{ __('Kanban Board') }} {% if kanban.id == 0 %}{{ __('Add') }}{% else %}{{ __('Edit') }}{% endif %}</li>
                </ol>
            </nav>
        </div>
    </div>
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row mb-2">
            <div class="col-sm-4">
                <h3>{{ __('Kanban Board') }} {% if kanban.id == 0 %}{{ __('Add') }}{% else %}{{ __('Edit') }}{% endif %}</h3>
            </div>
            <div class="col-sm-4">
            </div>
            <div class="col-sm-4 text-end">
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-md-12">
                <form method="post" action="{{ BASE_URL }}/kanban/save">
                    <fieldset>
                        <div class="row mb-2">
                            <div class="col-md-12">
                                <input type="hidden" name="id" value="{{ kanban.id }}">
                                <div class="row mb-2">
                                    <div class="col-md-6">
                                        <label for="naam">{{ __('Project Name') }}</label>
                                        <input type="text" class="form-control" id="name" name="name"
                                               value="{{ kanban.name }}" required>
                                    </div>
                                    <div class="col-md-4">
                                        <label for="tegel">{{ __('Tile') }}</label>
                                        <input class="form-control" id="tile" name="tile"
                                               value="{{ kanban.tile }}" list="tileList" required>
                                        <datalist id="tileList">
                                            {% for tileItem in tileList %}
                                                <option value="{{ tileItem.tile }}">{{ tileItem.tile }}</option>
                                            {% endfor %}
                                        </datalist>
                                    </div>
                                    <div class="col-md-2">
                                        <label for="status">{{ __('Status') }}</label>
                                        <select class="form-select" id="status" name="status">
                                            {% for key, value in statusList %}
                                                <option value="{{ key }}"{% if kanban.status == key %} selected{% endif %}>
                                                    {{ value }}
                                                </option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="row mb-2">
                                    <div class="col-md-6">
                                        <label for="product_owner_ids">{{ __('Product Owner(s)') }}</label>
                                        <select class="form-select" id="product_owner_ids" name="product_owner_ids[]" multiple>
                                            {{ selectOptionsProductOwners|raw }}
                                        </select>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="team_member_ids">{{ __('Team Member(s)') }}</label>
                                        <select class="form-select" id="team_member_ids" name="team_member_ids[]"
                                                multiple>
                                            {{ selectOptionsTeamMembers|raw }}
                                        </select>
                                    </div>
                                </div>
                                <div class="row mb-2">
                                    <div class="col-md-6">
                                        <label for="start_date">{{ __('Start date') }}</label>
                                        <input type="datetime-local" class="form-control" id="start_date"
                                               name="start_date" value="{{ kanban.start_date }}">
                                    </div>
                                    <div class="col-md-6">
                                        <label for="end_date">{{ __('End date') }}</label>
                                        <input type="datetime-local" class="form-control" id="end_date"
                                               name="end_date" value="{{ kanban.end_date }}">
                                    </div>
                                </div>
                                <div class="row mb-2">
                                    <div class="col-md-12">
                                        <label for="description">{{ __('Description') }}</label>
                                        <textarea class="form-control" id="description" name="description"
                                                  rows="3">{{ kanban.description }}</textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <div class="row mb-2">
                        <div class="col-md-12">
                            <button type="submit" class="btn btn-success" id="save_project"><i class="fa fa-save"></i>
                                {{ __('Save') }}
                            </button>
                            <a href="javascript:history.back()" class="btn btn-danger"><i class="fa fa-times"></i>
                                {{ __('Cancel') }}</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}