{% extends 'base.twig' %}
{% block css %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ BASE_URL }}/vendor/tigress/kanban-board/public/css/informatie_taak.css">
{% endblock %}
{% block title %}Taak Informatie{% endblock %}
{% block breadcrumb %}
    <nav aria-label="breadcrumb" data-bs-theme="dark">
        <ol class="breadcrumb" style="color: white">
            <li class="breadcrumb-item"><a href="{{ BASE_URL }}/"><i class="fa fa-home"></i></a></li>
            <li class="breadcrumb-item"><a href="{{ BASE_URL }}/kanban">Kanbanborden</a></li>
            <li class="breadcrumb-item"><a href="{{ BASE_URL }}/kanban/bord/{{ kanban.id }}">{{ kanban.tegel }}: {{ kanban.naam }}</a></li>
            <li class="breadcrumb-item active" aria-current="page">Taak Informatie</li>
        </ol>
    </nav>
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row mb-2 break-out90">
            <div class="col-sm-12">
                <h3>Taak Informatie</h3>
            </div>
        </div>
        <div class="row mb-2 break-out90">
            <div class="col-md-12">
                <fieldset class="mt-2">
                    <div class="row mb-2">
                        <div class="col-md-4" style="border-right: 1px solid lightgray">
                            <div class="row mb-2">
                                <div class="col-md-12">
                                    <h4>Tegel: {{ kanban.tegel }}<br>{{ kanban.naam }}</h4>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    Status: {{ statussen[kanban.status] }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    Producteigenaar: {{ users.getNames(kanban.product_owner_ids) }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    Teamleden: {{ users.getNames(kanban.team_member_ids) }}
                                </div>
                            </div>
                            <div class="row mb-2">
                                <div class="col-md-6">
                                    Startdatum: {{ kanban.start_datum|date('d-m-Y H:i') }}
                                </div>
                                <div class="col-md-6">
                                    Einddatum: {{ kanban.eind_datum|date('d-m-Y H:i') }}
                                </div>
                            </div>
                            <div class="row mb-2">
                                <div class="col-md-12">
                                    <fieldset class="img-responsive">
                                        <legend>Omschrijving</legend>
                                        <p>{{ kanban.omschrijving|raw }}</p>
                                    </fieldset>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8" style="border-left: 1px solid lightgray">
                            <div class="row mb-2">
                                <div class="col-md-8">
                                    <h4>{{ kanbansTaak.naam }}</h4>
                                </div>
                                <div class="col-md-4 text-end">
                                    Status: {{ kanbansStatussen.getStatus(kanbansTaak.kanban_status_id) }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    Ticketnummer: {{ kanbansTaak.kanban_id }}-{{ kanbansTaak.id }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    Prioriteit: {{ prioriteiten[kanbansTaak.prioriteit] }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    Uitvoerder(s): {{ users.getNames(kanbansTaak.worker_ids) }}
                                </div>
                            </div>
                            <div class="row mb-2">
                                <div class="col-md-12">
                                    Streefdatum:
                                    {% if (kanbansTaak.deadline != null and kanbansTaak.deadline != '0000-00-00 00:00:00') %}
                                        {{ kanbansTaak.deadline|date('d-m-Y H:i') }}
                                    {% else %}
                                        Geen deadline
                                    {% endif %}
                                </div>
                            </div>
                            <div class="row mb-2">
                                <div class="col-md-12">
                                    <fieldset class="img-responsive">
                                        <legend>Omschrijving</legend>
                                        <p>{{ kanbansTaak.omschrijving|raw }}</p>
                                    </fieldset>
                                </div>
                            </div>
                            <div class="row mb-2">
                                <div class="col-md-12">
                                    <fieldset class="img-responsive">
                                        <legend>Opmerking</legend>
                                        <p>{{ kanbansTaak.opmerking|raw }}</p>
                                    </fieldset>
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
    </div>
{% endblock %}