{% extends 'base.twig' %}
{% block title %}{{ __('Task Information') }}{% endblock %}
{% block breadcrumb %}
    <nav aria-label="breadcrumb" data-bs-theme="dark">
        <ol class="breadcrumb" style="color: white">
            <li class="breadcrumb-item"><a href="{{ BASE_URL }}/"><i class="fa fa-home"></i></a></li>
            <li class="breadcrumb-item"><a href="{{ BASE_URL }}/kanban">{{ __('Kanban Boards') }}</a></li>
            <li class="breadcrumb-item"><a href="{{ BASE_URL }}/kanban/board/{{ kanban.id }}">{{ kanban.tile }}: {{ kanban.name }}</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ __('Task Information') }}</li>
        </ol>
    </nav>
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row mb-2 break-out90">
            <div class="col-sm-12">
                <h3>{{ __('Task Information') }}</h3>
            </div>
        </div>
        <div class="row mb-2 break-out90">
            <div class="col-md-12">
                <fieldset class="mt-2">
                    <div class="row mb-2">
                        <div class="col-md-4" style="border-right: 1px solid lightgray">
                            <div class="row mb-2">
                                <div class="col-md-12">
                                    <h4>{{ __('Tile') }}: {{ kanban.tile }}<br>{{ kanban.name }}</h4>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    {{ __('Status') }}: {{ statuses[kanban.status] }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    {{ __('Product Owner(s)') }}: {{ users.getNames(kanban.product_owner_ids) }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    {{ __('Team Member(s)') }}: {{ users.getNames(kanban.team_member_ids) }}
                                </div>
                            </div>
                            <div class="row mb-2">
                                <div class="col-md-6">
                                    {{ __('Start date') }}:
                                    {% if (kanban.start_date != null and kanban.start_date != '0000-00-00 00:00:00') %}
                                        {{ kanban.start_date|date(__('date_time_format')) }}
                                    {% else %}
                                        {{ __('No start date') }}
                                    {% endif %}
                                </div>
                                <div class="col-md-6">
                                    {{ __('End date') }}:
                                    {% if (kanban.end_date != null and kanban.end_date != '0000-00-00 00:00:00') %}
                                        {{ kanban.end_date|date(__('date_time_format')) }}
                                    {% else %}
                                        {{ __('No end date') }}
                                    {% endif %}
                                </div>
                            </div>
                            <div class="row mb-2">
                                <div class="col-md-12">
                                    <fieldset class="img-responsive">
                                        <legend>{{ __('Description') }}</legend>
                                        <p>{{ kanban.description|raw }}</p>
                                    </fieldset>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8" style="border-left: 1px solid lightgray">
                            <div class="row mb-2">
                                <div class="col-md-8">
                                    <h4>{{ kanbansTaak.name }}</h4>
                                </div>
                                <div class="col-md-4 text-end">
                                    {{ __('Status') }}: {{ kanbansStatuses.getStatus(kanbansTask.kanban_status_id) }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    {{ __('Ticket number') }}: {{ kanbansTask.kanban_id }}-{{ kanbansTask.id }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    {{ __('Priority') }}: {{ priorities[kanbansTask.priority] }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    {{ __('Executor(s)') }}: {{ users.getNames(kanbansTask.worker_ids) }}
                                </div>
                            </div>
                            <div class="row mb-2">
                                <div class="col-md-12">
                                    {{ __('Target date') }}:
                                    {% if (kanbansTask.deadline != null and kanbansTask.deadline != '0000-00-00 00:00:00') %}
                                        {{ kanbansTask.deadline|date(__('date_time_format')) }}
                                    {% else %}
                                        {{ __('No deadline') }}
                                    {% endif %}
                                </div>
                            </div>
                            <div class="row mb-2">
                                <div class="col-md-12">
                                    <fieldset class="img-responsive">
                                        <legend>{{ __('Description') }}</legend>
                                        <p>{{ kanbansTask.description|raw }}</p>
                                    </fieldset>
                                </div>
                            </div>
                            <div class="row mb-2">
                                <div class="col-md-12">
                                    <fieldset class="img-responsive">
                                        <legend>{{ __('Remark', base_trans) }}</legend>
                                        <p>{{ kanbansTask.remark|raw }}</p>
                                    </fieldset>
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
    </div>
{% endblock %}