{% extends 'base.twig' %}
{% block title %}{{ trans('task_information', translations) }}{% endblock %}
{% block breadcrumb %}
    <nav aria-label="breadcrumb" data-bs-theme="dark">
        <ol class="breadcrumb" style="color: white">
            <li class="breadcrumb-item"><a href="{{ BASE_URL }}/"><i class="fa fa-home"></i></a></li>
            <li class="breadcrumb-item"><a href="{{ BASE_URL }}/kanban">{{ trans('kanban_boards', translations) }}</a></li>
            <li class="breadcrumb-item"><a href="{{ BASE_URL }}/kanban/board/{{ kanban.id }}">{{ kanban.tile }}: {{ kanban.name }}</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ trans('task_information', translations) }}</li>
        </ol>
    </nav>
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row mb-2 break-out90">
            <div class="col-sm-12">
                <h3>{{ trans('task_information', translations) }}</h3>
            </div>
        </div>
        <div class="row mb-2 break-out90">
            <div class="col-md-12">
                <fieldset class="mt-2">
                    <div class="row mb-2">
                        <div class="col-md-4" style="border-right: 1px solid lightgray">
                            <div class="row mb-2">
                                <div class="col-md-12">
                                    <h4>{{ trans('tile', base_trans) }}: {{ kanban.tile }}<br>{{ kanban.name }}</h4>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    {{ trans('status', base_trans) }}: {{ statuses[kanban.status] }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    {{ trans('product_owners', base_trans) }}: {{ users.getNames(kanban.product_owner_ids) }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    {{ trans('team_members', base_trans) }}: {{ users.getNames(kanban.team_member_ids) }}
                                </div>
                            </div>
                            <div class="row mb-2">
                                <div class="col-md-6">
                                    {{ trans('start_date', base_trans) }}: {{ kanban.start_date|date('d-m-Y H:i') }}
                                </div>
                                <div class="col-md-6">
                                    {{ trans('end_date', base_trans) }}: {{ kanban.end_date|date('d-m-Y H:i') }}
                                </div>
                            </div>
                            <div class="row mb-2">
                                <div class="col-md-12">
                                    <fieldset class="img-responsive">
                                        <legend>{{ trans('description', base_trans) }}</legend>
                                        <p>{{ kanban.description|raw }}</p>
                                    </fieldset>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8" style="border-left: 1px solid lightgray">
                            <div class="row mb-2">
                                <div class="col-md-8">
                                    <h4>{{ kanbansTaak.name }}</h4>
                                </div>
                                <div class="col-md-4 text-end">
                                    {{ trans('status', base_trans) }}: {{ kanbansStatuses.getStatus(kanbansTask.kanban_status_id) }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    {{ trans('ticket_number', base_trans) }}: {{ kanbansTask.kanban_id }}-{{ kanbansTask.id }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    {{ trans('priority', base_trans) }}: {{ priorities[kanbansTask.priority] }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    {{ trans('executors', base_trans) }}: {{ users.getNames(kanbansTask.worker_ids) }}
                                </div>
                            </div>
                            <div class="row mb-2">
                                <div class="col-md-12">
                                    {{ trans('target_date', base_trans) }}:
                                    {% if (kanbansTask.deadline != null and kanbansTask.deadline != '0000-00-00 00:00:00') %}
                                        {{ kanbansTask.deadline|date('d-m-Y H:i') }}
                                    {% else %}
                                        {{ trans('no_deadline', base_trans) }}
                                    {% endif %}
                                </div>
                            </div>
                            <div class="row mb-2">
                                <div class="col-md-12">
                                    <fieldset class="img-responsive">
                                        <legend>{{ trans('description', base_trans) }}</legend>
                                        <p>{{ kanbansTask.description|raw }}</p>
                                    </fieldset>
                                </div>
                            </div>
                            <div class="row mb-2">
                                <div class="col-md-12">
                                    <fieldset class="img-responsive">
                                        <legend>{{ trans('remark', base_trans) }}</legend>
                                        <p>{{ kanbansTask.remark|raw }}</p>
                                    </fieldset>
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
    </div>
{% endblock %}