{% extends 'base.twig' %}
{% block css %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ BASE_URL }}/vendor/tigress/kanban-board/public/css/kanban/kanban_board.css">
{% endblock %}
{% block js %}
    {{ parent() }}
    <script>
        let variables = {
            write: '{{ rights.write }}',
        }
    </script>
    <script src="{{ BASE_URL }}/node_modules/sortablejs/Sortable.min.js"></script>
    <script src="{{ BASE_URL }}/vendor/tigress/kanban-board/public/javascript/kanban/kanban_board.js"></script>
{% endblock %}
{% block title %}{{ __('Kanban board') }} - {{ kanban.tile }}: {{ kanban.name }}{% endblock %}
{% block breadcrumb %}
    <div class="row mb-2">
        <div class="col-md-12">
            <nav aria-label="breadcrumb" data-bs-theme="dark">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{{ BASE_URL }}/"><i class="fa fa-home"></i></a></li>
                    <li class="breadcrumb-item"><a href="{{ BASE_URL }}/kanban">{{ __('Kanban boards') }}</a></li>
                    <li class="breadcrumb-item active" aria-current="page">{{ kanban.tile }}: {{ kanban.name }}</li>
                </ol>
            </nav>
        </div>
    </div>
{% endblock %}
{% block content %}
    {% set backcolor = {
        1: '#00FF00',
        2: '#33CC00',
        3: '#66CC00',
        4: '#99CC00',
        5: '#FFCC00',
        6: '#FF9900',
        7: '#FF6600',
        8: '#FF3300',
        9: '#FF0000'
    } %}
    <div class="container">
        <div class="row mb-2">
            <div class="col-sm-12">
                <h3>{{ kanban.tile }}: {{ kanban.name }}
                    {% if rights.write %}
                        <a href="{{ BASE_URL }}/kanban/tasks/edit/0/{{ kanban.id }}" class="btn btn-sm btn-success"
                           data-bs-toggle="tooltip" title="{{ __('Add Task') }}">
                            <i class="fa fa-plus"></i>
                        </a>
                    {% endif %}
                </h3>
            </div>
        </div>
        <div class="row mb-2 break-out90">
            <div class="col-md-12">
                <fieldset class="mt-2">
                    <div class="row mb-2">
                        <div class="col-md-12">
                            <div class="task-board">
                                {% for kanbansStatus in kanbansStatuses %}
                                    <div class="task-column" data-status="{{ kanbansStatus.id }}">
                                        <h3>{{ attribute(kanbansStatus, 'name_' ~ lang) ?? attribute(kanbansStatus, 'name_en') ?? __('Unknown') }}</h3>
                                        <ul class="task-list" id="{{ kanbansStatus.id }}">
                                            {% for kanbansTask in kanbansTasks %}
                                                {% if kanbansTask.kanban_status_id == kanbansStatus.id %}
                                                    {% set today = "now"|date("Y-m-d H:i:s") %}
                                                    {% set deadline = kanbansTaak.deadline ?? null %}
                                                    {% set showred = (deadline is not null and deadline != '0000-00-00 00:00:00' and today > deadline and kanbansStatus.deadline_check) %}
                                                    <li class="task-item"
                                                        style="background-color: {{ backcolor[kanbansTask.priority] }}; {% if showred %} border: 4px solid red{% endif %}"
                                                        data-id="{{ kanbansTask.id }}">
                                                        <div class="row mb-2">
                                                            <div class="col-md-12">
                                                                <div class="task-title">{{ kanbansTask.name }}</div>
                                                            </div>
                                                        </div>
                                                        <div class="row mb-2">
                                                            <div class="col-md-12 text-start">
                                                                <p style="font-size: 0.8em">
                                                                    <b>{{ __('Executor(s)') }}:</b><br>
                                                                    {{ users.getNames(kanbansTask.worker_ids) }}<br>
                                                                    <b>{{ __('Target date') }}:</b><br>
                                                                    {% if (kanbansTask.deadline != null and kanbansTask.deadline != '0000-00-00 00:00:00') %}
                                                                        {{ kanbansTask.deadline|date(__('date_time_format')) }}
                                                                    {% else %}
                                                                        {{ __('No deadline') }}
                                                                    {% endif %}
                                                                </p>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-6 text-start">
                                                                {% if rights.write %}
                                                                    <a data-bs-toggle="tooltip" title="{{ __('Edit') }}"
                                                                       href="{{ BASE_URL }}/kanban/tasks/edit/{{ kanbansTask.id }}/{{ kanban.id }}"
                                                                       class="btn btn-sm btn-success mb-1">
                                                                        <i class="fa fa-pencil"></i>
                                                                    </a>
                                                                {% endif %}
                                                                {% if rights.delete %}
                                                                    <button type="button" data-bs-toggle="modal"
                                                                            title="{{ __('Delete') }}"
                                                                            data-bs-target="#modalDelete"
                                                                            data-id="{{ kanbansTask.id }}"
                                                                            data-kanban-id="{{ kanban.id }}"
                                                                            class="btn btn-danger btn-sm mb-1"><i
                                                                                class="fa fa-trash-can"></i></button>
                                                                {% endif %}
                                                            </div>
                                                            <div class="col-md-6 text-end">
                                                                <a data-bs-toggle="tooltip" title="{{ __('Information') }}"
                                                                   href="{{ BASE_URL }}/kanban/tasks/information/{{ kanbansTask.id }}/{{ kanban.id }}"
                                                                   class="btn btn-sm btn-info mb-1">
                                                                    <i class="fa-regular fa-eye"></i>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </li>
                                                {% endif %}
                                            {% endfor %}
                                        </ul>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
    </div>

    {# Modal Task Remover #}
    <form action="{{ BASE_URL }}/kanban/tasks/delete" method="post" enctype="multipart/form-data">
        <div class="modal fade" id="modalDelete" tabindex="-1" aria-labelledby="modalDeleteLabel"
             aria-hidden="true" style="color: black">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalDeleteLabel">{{ __('Remove Task') }}</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="{{ __('Close') }}"></button>
                    </div>
                    <div class="modal-body">
                        <p>{{ __('Are you sure you want to remove this task?') }}</p>
                    </div>
                    <div class="modal-footer">
                        <input type="hidden" name="id" id="id">
                        <input type="hidden" name="kanban_id" id="kanban_id">
                        <button type="submit" class="btn btn-success" id="btnDelete">{{ __('Yes') }}</button>
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">{{ __('No') }}</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock %}